# Ce fichier a été généré par Firebase CLI
# Il gère le déploiement automatique sur fusion (merge) vers la branche "main"

name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      # SUPPRIMEZ OU COMMENTEZ L'ÉTAPE CI-DESSOUS (inutile pour du HTML pur)
      # - run: npm ci && npm run build
      
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DESKRESERVATION_8E1DC }}'
          channelId: live
          projectId: deskreservation-8e1dc